In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [6]:
data = pd.read_csv("Visitors Preference Dataset.csv")

In [7]:
data.head()

,User ID,Name,Email,Preferred Activities,Bucket list destinations Sri Lanka
0,1,Jennifer Quinn,jennifer.quinn@example.com,"['cycling', 'historical monuments', 'village h...","['Polonnaruwa', 'Hatton', 'Anuradhapura', 'Ell..."
1,2,Emily Perry,emily.perry@example.com,"['butterfly watching', 'hot springs', 'wildlif...","['Madunagala Hot Water Spring', 'Wilpattu Nati..."
2,3,Danielle Mcbride,danielle.mcbride@example.com,"['sea cruises', 'themed parks', 'craft worksho...","['Mirissa Beach', 'Negombo Lagoon', 'Batadomba..."
3,4,Angelica Wilson,angelica.wilson@example.com,"['fishing', 'hot springs', 'sailing']","['Maha Oya Hot Water Springs', 'Colombo Port C..."
4,5,Laurie Powers,laurie.powers@example.com,"['history tours', 'sailing', 'literary tours']","['Negombo Lagoon', 'Colombo Port City', 'Galle..."

In [8]:
data.tail()

,User ID,Name,Email,Preferred Activities,Bucket list destinations Sri Lanka
9995,9996,Jonathan Hernandez,jonathan.hernandez@example.com,"['paddleboarding', 'river cruises', 'kayaking']","['Ahungalla', 'Bolgoda Lake', 'Unawatuna Beach..."
9996,9997,Cody Gallegos,cody.gallegos@example.com,"['theater', 'scuba diving', 'yoga retreats']","['Kalpitiya', 'Hikkaduwa Coral Sanctuary', 'Tr..."
9997,9998,Amy House,amy.house@example.com,"['sea cruises', 'zip-lining', 'outdoor adventu...","['Hikkaduwa Coral Sanctuary', 'Ella', 'Pigeon ..."
9998,9999,Leslie Aguilar,leslie.aguilar@example.com,"['cycling', 'amusement parks', 'paddleboarding']","['Ella', 'Hatton', 'Negambo', 'Colombo Port Ci..."
9999,10000,Joseph Stone,joseph.stone@example.com,"['camping', 'hiking', 'safaris']","['Kitugala Forest', 'Wilpattu National Park', ..."

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   User ID                             10000 non-null  int64
 1   Name                                10000 non-null  object
 2   Email                               10000 non-null  object
 3   Preferred Activities                10000 non-null  object
 4   Bucket list destinations Sri Lanka  10000 non-null  object
dtypes: int64(1), object(4)
memory usage: 390.8+ KB

In [10]:
data.nunique()

User ID                               10000
Name                                   9419
Email                                  9369
Preferred Activities                   9830
Bucket list destinations Sri Lanka     9995
dtype: int64

In [11]:
(data.isnull().sum()/(len(data)))*100

User ID                               0.0
Name                                  0.0
Email                                 0.0
Preferred Activities                  0.0
Bucket list destinations Sri Lanka    0.0
dtype: float64

In [12]:
data = data.drop(['Email'], axis = 1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   User ID                             10000 non-null  int64
 1   Name                                10000 non-null  object
 2   Preferred Activities                10000 non-null  object
 3   Bucket list destinations Sri Lanka  10000 non-null  object
dtypes: int64(1), object(3)
memory usage: 312.6+ KB

In [13]:
data = data.drop(['User ID'], axis = 1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Name                                10000 non-null  object
 1   Preferred Activities                10000 non-null  object
 2   Bucket list destinations Sri Lanka  10000 non-null  object
dtypes: object(3)
memory usage: 234.5+ KB

In [14]:
data.head()

,Name,Preferred Activities,Bucket list destinations Sri Lanka
0,Jennifer Quinn,"['cycling', 'historical monuments', 'village h...","['Polonnaruwa', 'Hatton', 'Anuradhapura', 'Ell..."
1,Emily Perry,"['butterfly watching', 'hot springs', 'wildlif...","['Madunagala Hot Water Spring', 'Wilpattu Nati..."
2,Danielle Mcbride,"['sea cruises', 'themed parks', 'craft worksho...","['Mirissa Beach', 'Negombo Lagoon', 'Batadomba..."
3,Angelica Wilson,"['fishing', 'hot springs', 'sailing']","['Maha Oya Hot Water Springs', 'Colombo Port C..."
4,Laurie Powers,"['history tours', 'sailing', 'literary tours']","['Negombo Lagoon', 'Colombo Port City', 'Galle..."

In [15]:
duplicate_responses = data[data.duplicated(subset=['Name'])]
duplicate_responses

,Name,Preferred Activities,Bucket list destinations Sri Lanka
303,Christopher Garcia,"['tea tasting', 'golfing', 'fishing']","['Weligama Beach', 'Nuwara Eliya Golf Club', '..."
401,James White,"['architecture photography', 'golfing', 'craft...","['Bentota', 'Dambulla Royal Cave Temple and Go..."
410,Eric Myers,"['historical monuments', 'amusement parks', 's...","['Trincomalee Harbour', 'Colombo Port City', '..."
587,John Wright,"['whale watching', 'historic walks', 'elephant...","['Pinnawala', 'Anuradapura', 'Udawalawe', 'Tri..."
619,Mary Jones,"['caving', 'tea tasting', 'sightseeing']","['Galle Lighthouse', 'Wavulpone Cave', 'Belile..."
...,...,...,...
9931,Andrea Williamson,"['architecture photography', 'public art insta...","['Meemure', 'Belihuloya', 'Knuckles', 'Ambuluw..."
9942,Michael Rodriguez,"['craft workshops', 'whale watching', 'surfing']","['Hikkaduwa Beach', 'Bentota', 'Weligama Beach..."
9957,Samantha Smith,"['amusement parks', 'horse shows', 'safaris']","['Perl Bay', 'Colombo Port City', 'Minneriya N..."
9986,David Williams,"['architecture photography', 'botanical garden...","['Dry Zone Botanic Gardens, Hambantota', 'Seet..."
9989,Christina Farley,"['outdoor adventures', 'village homestays', 'h...","['Hikkaduwa Coral Sanctuary', 'Horton Plains N..."

In [16]:
data_unique = data.drop_duplicates(subset=['Name'], keep='last')
data_unique

,Name,Preferred Activities,Bucket list destinations Sri Lanka
0,Jennifer Quinn,"['cycling', 'historical monuments', 'village h...","['Polonnaruwa', 'Hatton', 'Anuradhapura', 'Ell..."
1,Emily Perry,"['butterfly watching', 'hot springs', 'wildlif...","['Madunagala Hot Water Spring', 'Wilpattu Nati..."
2,Danielle Mcbride,"['sea cruises', 'themed parks', 'craft worksho...","['Mirissa Beach', 'Negombo Lagoon', 'Batadomba..."
3,Angelica Wilson,"['fishing', 'hot springs', 'sailing']","['Maha Oya Hot Water Springs', 'Colombo Port C..."
4,Laurie Powers,"['history tours', 'sailing', 'literary tours']","['Negombo Lagoon', 'Colombo Port City', 'Galle..."
...,...,...,...
9995,Jonathan Hernandez,"['paddleboarding', 'river cruises', 'kayaking']","['Ahungalla', 'Bolgoda Lake', 'Unawatuna Beach..."
9996,Cody Gallegos,"['theater', 'scuba diving', 'yoga retreats']","['Kalpitiya', 'Hikkaduwa Coral Sanctuary', 'Tr..."
9997,Amy House,"['sea cruises', 'zip-lining', 'outdoor adventu...","['Hikkaduwa Coral Sanctuary', 'Ella', 'Pigeon ..."
9998,Leslie Aguilar,"['cycling', 'amusement parks', 'paddleboarding']","['Ella', 'Hatton', 'Negambo', 'Colombo Port Ci..."
9999,Joseph Stone,"['camping', 'hiking', 'safaris']","['Kitugala Forest', 'Wilpattu National Park', ..."

In [17]:
PA=data[['Preferred Activities']]
PA

                                   Preferred Activities
0     ['cycling', 'historical monuments', 'village h...
1     ['butterfly watching', 'hot springs', 'wildlif...
2     ['sea cruises', 'themed parks', 'craft worksho...
3                 ['fishing', 'hot springs', 'sailing']
4        ['history tours', 'sailing', 'literary tours']
...                                                 ...
9995    ['paddleboarding', 'river cruises', 'kayaking']
9996       ['theater', 'scuba diving', 'yoga retreats']
9997  ['sea cruises', 'zip-lining', 'outdoor adventu...
9998   ['cycling', 'amusement parks', 'paddleboarding']
9999                   ['camping', 'hiking', 'safaris']

[10000 rows x 1 columns]

In [18]:
data['Preferred Activities'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
9995    <class 'str'>
9996    <class 'str'>
9997    <class 'str'>
9998    <class 'str'>
9999    <class 'str'>
Name: Preferred Activities, Length: 10000, dtype: object

In [19]:
data['Preferred Activities'].apply(type).value_counts()

Preferred Activities
<class 'str'>    10000
Name: count, dtype: int64

In [28]:
data['Preferred Activities'] = data['Preferred Activities'].apply(eval)

In [29]:
data['Preferred Activities'].apply(type)

0       <class 'list'>
1       <class 'list'>
2       <class 'list'>
3       <class 'list'>
4       <class 'list'>
             ...
9995    <class 'list'>
9996    <class 'list'>
9997    <class 'list'>
9998    <class 'list'>
9999    <class 'list'>
Name: Preferred Activities, Length: 10000, dtype: object

In [30]:
activities = sum(data['Preferred Activities'].tolist(), [])
len(activities)

30000

In [49]:
activities = list(set(activities))
len(activities)

68

In [50]:
activities

['beach visits',
 'boat safaris',
 'traditional ceremonies',
 'history tours',
 'cultural festivals',
 'mountain biking',
 'village homestays',
 'snorkeling',
 'hot springs',
 'outdoor adventures',
 'horse shows',
 'surfing',
 'arts and culture',
 'local crafts',
 'archaeological sites',
 'animal encounters',
 'turtle watching',
 'hiking',
 'museum visits',
 'yoga retreats',
 'tea tasting',
 'butterfly watching',
 'botanical gardens',
 'caving',
 'photography',
 'bird watching',
 'city tours',
 'craft workshops',
 'cycling',
 'kayaking',
 'literary tours',
 'beachfront dining',
 'temple pilgrimages',
 'golfing',
 'elephant rides',
 'sailing lessons',
 'planetarium visits',
 'safaris',
 'art classes',
 'architecture photography',
 'ayurvedic spa treatments',
 'theater',
 'scuba diving',
 'rock climbing',
 'amusement parks',
 'paddleboarding',
 'waterfalls',
 'water parks',
 'camping',
 'wildlife viewing',
 'sailing',
 'historic sites',
 'sea cruises',
 'landscape photography',
 'river cruises',
 'cultural experiences',
 'fishing',
 'themed parks',
 'historic walks',
 'whale watching',
 'architecture tours',
 'hot air ballooning',
 'spiritual retreats',
 'sightseeing',
 'zip-lining',
 'horseback riding',
 'historical monuments',
 'public art installations']

In [31]:
PD=data[['Bucket list destinations Sri Lanka']]
PD

                     Bucket list destinations Sri Lanka
0     ['Polonnaruwa', 'Hatton', 'Anuradhapura', 'Ell...
1     ['Madunagala Hot Water Spring', 'Wilpattu Nati...
2     ['Mirissa Beach', 'Negombo Lagoon', 'Batadomba...
3     ['Maha Oya Hot Water Springs', 'Colombo Port C...
4     ['Negombo Lagoon', 'Colombo Port City', 'Galle...
...                                                 ...
9995  ['Ahungalla', 'Bolgoda Lake', 'Unawatuna Beach...
9996  ['Kalpitiya', 'Hikkaduwa Coral Sanctuary', 'Tr...
9997  ['Hikkaduwa Coral Sanctuary', 'Ella', 'Pigeon ...
9998  ['Ella', 'Hatton', 'Negambo', 'Colombo Port Ci...
9999  ['Kitugala Forest', 'Wilpattu National Park', ...

[10000 rows x 1 columns]

In [32]:
data['Bucket list destinations Sri Lanka'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
9995    <class 'str'>
9996    <class 'str'>
9997    <class 'str'>
9998    <class 'str'>
9999    <class 'str'>
Name: Bucket list destinations Sri Lanka, Length: 10000, dtype: object

In [33]:
data['Bucket list destinations Sri Lanka'].apply(type).value_counts()

Bucket list destinations Sri Lanka
<class 'str'>    10000
Name: count, dtype: int64

In [34]:
data['Bucket list destinations Sri Lanka'] = data['Bucket list destinations Sri Lanka'].apply(eval)

In [35]:
all_activities = sum(data['Preferred Activities'].tolist(), [])

In [36]:
data['Bucket list destinations Sri Lanka'].apply(type).value_counts()

Bucket list destinations Sri Lanka
<class 'list'>    10000
Name: count, dtype: int64

In [37]:
destinations = sum(data['Bucket list destinations Sri Lanka'].tolist(), [])
len(destinations)

49988

In [38]:
destinations = list(set(destinations))
len(destinations)

157

In [39]:
destinations

['Colombo Port City',
 'Kandy Temple',
 'Nelum Pokuna Theatre',
 'Anuradapura',
 'Bentota River',
 "Baker's Falls",
 'Elephant Transit Home',
 'Velgam Vehera Buddhist Temple',
 'Ahungalla',
 'Udawalawe',
 'Victoria Golf Club',
 'National Gallery of Art',
 'Uppuveli Beach',
 'Kithulgala',
 'Bundala National Park',
 'Ella Gap',
 'Sri Lanka Planetarium',
 'Pigeon Island',
 'Water World Lanka',
 'Wilpattu National Park',
 'Mahapelessa Hot Springs',
 'Hikkaduwa Beach',
 'Udawalawe National Park',
 'Excel World',
 'Knuckles',
 'Ella Rock',
 'Jungle beach',
 ' Laxapana Falls',
 'Horton Plains',
 'Ella',
 'Sigiriya',
 'Kosgoda Turtle Hatchery',
 'Minneriya National Park',
 'Museum of Modern and Contemporary Art',
 'Yala National Park',
 'Negombo',
 'Bentota Beach',
 'Wasgamuwa National Park',
 'Dry Zone Botanic Gardens, Hambantota',
 'Trincomalee',
 'Galle Fort',
 'Sinharaja Forest Reserve',
 'Tangalle Beach',
 'Bentota',
 'Bopath Falls',
 'Koggala Beach',
 'Negambo',
 'Mihintale',
 'Mahalenama Cave',
 'Colombo City Tour',
 'Unawatuna',
 'Maritime Museum',
 'National Museum Galle',
 'Arugam Bay Beach',
 'Pearl Bay',
 'Polonaruwa',
 'Kanniya Hot Springs',
 'Madu River',
 'Nallur Kandaswamy Devasthanam',
 'Kandy',
 'Devon Falls',
 'Kumana National Park',
 'Galle City Tour',
 'Hatton',
 'Jungle Beach',
 'Weligama Beach',
 'Jaya Sri Maha Bodhi',
 'Nuwara Eliya Golf Club',
 'Haputale',
 'Negombo Lagoon',
 'Pinnawala',
 'Dutch Museum',
 'Wavulpone Cave',
 'Nilaveli Beach',
 'Dambulla',
 'Royal Colombo Golf Club',
 'Ahangama',
 'Pinnawala Elephant Orphanage',
 'Nallur Kandaswamy Kovil',
 'Nelung Arts Centre',
 'Seetha Eliya',
 'Belihuloya',
 'Batatotalena (Batadombalena) Cave',
 'Galle',
 'Unawatuna Lagoon',
 'Dambulla Royal Cave Temple and Golden Temple',
 "Sri Pada / Adam's Peak",
 'Bambarakanda Falls',
 'Nine Arches Bridge',
 'Hikkaduwa Coral Sanctuary',
 'Kandy City Centre',
 'Jaffna Public Library',
 "St Clair's Falls",
 'Hakgala Botanical Garden',
 'Lionel Wendt Art Centre',
 'Weligama Beach (surf and stay)',
 'Polonnaruwa Ancient City',
 'Belilena Caves',
 'Ritigala',
 'Colombo',
 'Ambalangoda',
 'Horton Plains National Park',
 'Kandy National Museum',
 'Anuradhapura',
 'Unawatuna Beach',
 'Colombo National Museum',
 'Ruhunu Maha Kataragama Dewalaya',
 'Mirissa Beach',
 'Surathali Ella',
 'Galle Dutch Fort',
 'Ambalangoda Mask Workshop',
 'Kandalama',
 'Ramboda Falls',
 'Passikuda Beach',
 'Hiriketiya',
 'Kanneliya National Rain Forest Reserve',
 'Ravan Ella Waterfall',
 'Anawilundawa Wetlands',
 'Vaddha Village Camping',
 'Rekawa Beach',
 'Seethawaka Wet Zone Botanical Gardens',
 'Yapahuwa Rock Fortress',
 'Gangaramaya Temple',
 'Batadombalena Craft Centre',
 'Hikkaduwa',
 'Maha Oya Hot Water Springs',
 'Kitugala Forest',
 'Trincomalee Harbour',
 'Nuwara Eliya',
 'Bomburu Ella Waterfall',
 'Folk Museum',
 'Bambarakiri Ella',
 'Riverstone Gap',
 'Perl Bay',
 'Kalpitiya',
 'Galle Lighthouse',
 'Ambuluwawa Tower',
 'Pidurangala Rock',
 'Tangalle',
 'Polonnaruwa',
 'Kandy Lake',
 'Diyaluma Falls',
 'Sri Dalada Maligawa',
 'Bolgoda Lake',
 'Madunagala Hot Water Spring',
 'Viharamahadevi Park',
 'Kitulgala',
 'Dunhinda Waterfall',
 'Ratnapura Gem Museum',
 'Kalpitiya Lagoon',
 'Martin Wickramasinghe Folk Museum',
 'Royal Botanical Gardens, Peradeniya',
 'Hiriketiya Beach',
 'Marakolliya Beach',
 'Leisure World',
 'Arankelle Forest Monastery',
 'Meemure']

In [21]:
activities = ['beach visits',
 'boat safaris',
 'traditional ceremonies',
 'history tours',
 'cultural festivals',
 'mountain biking',
 'village homestays',
 'snorkeling',
 'hot springs',
 'outdoor adventures',
 'horse shows',
 'surfing',
 'arts and culture',
 'local crafts',
 'archaeological sites',
 'animal encounters',
 'turtle watching',
 'hiking',
 'museum visits',
 'yoga retreats',
 'tea tasting',
 'butterfly watching',
 'botanical gardens',
 'caving',
 'photography',
 'bird watching',
 'city tours',
 'craft workshops',
 'cycling',
 'kayaking',
 'literary tours',
 'beachfront dining',
 'temple pilgrimages',
 'golfing',
 'elephant rides',
 'sailing lessons',
 'planetarium visits',
 'safaris',
 'art classes',
 'architecture photography',
 'ayurvedic spa treatments',
 'theater',
 'scuba diving',
 'rock climbing',
 'amusement parks',
 'paddleboarding',
 'waterfalls',
 'water parks',
 'camping',
 'wildlife viewing',
 'sailing',
 'historic sites',
 'sea cruises',
 'landscape photography',
 'river cruises',
 'cultural experiences',
 'fishing',
 'themed parks',
 'historic walks',
 'whale watching',
 'architecture tours',
 'hot air ballooning',
 'spiritual retreats',
 'sightseeing',
 'zip-lining',
 'horseback riding',
 'historical monuments',
 'public art installations']

In [24]:
activities_sorted = sorted(activities)

print(activities_sorted)

['amusement parks', 'animal encounters', 'archaeological sites', 'architecture photography', 'architecture tours', 'art classes', 'arts and culture', 'ayurvedic spa treatments', 'beach visits', 'beachfront dining', 'bird watching', 'boat safaris', 'botanical gardens', 'butterfly watching', 'camping', 'caving', 'city tours', 'craft workshops', 'cultural experiences', 'cultural festivals', 'cycling', 'elephant rides', 'fishing', 'golfing', 'hiking', 'historic sites', 'historic walks', 'historical monuments', 'history tours', 'horse shows', 'horseback riding', 'hot air ballooning', 'hot springs', 'kayaking', 'landscape photography', 'literary tours', 'local crafts', 'mountain biking', 'museum visits', 'outdoor adventures', 'paddleboarding', 'photography', 'planetarium visits', 'public art installations', 'river cruises', 'rock climbing', 'safaris', 'sailing', 'sailing lessons', 'scuba diving', 'sea cruises', 'sightseeing', 'snorkeling', 'spiritual retreats', 'surfing', 'tea tasting', 'temple pilgrimages', 'theater', 'themed parks', 'traditional ceremonies', 'turtle watching', 'village homestays', 'water parks', 'waterfalls', 'whale watching', 'wildlife viewing', 'yoga retreats', 'zip-lining']

In [25]:
activities_sorted

['amusement parks',
 'animal encounters',
 'archaeological sites',
 'architecture photography',
 'architecture tours',
 'art classes',
 'arts and culture',
 'ayurvedic spa treatments',
 'beach visits',
 'beachfront dining',
 'bird watching',
 'boat safaris',
 'botanical gardens',
 'butterfly watching',
 'camping',
 'caving',
 'city tours',
 'craft workshops',
 'cultural experiences',
 'cultural festivals',
 'cycling',
 'elephant rides',
 'fishing',
 'golfing',
 'hiking',
 'historic sites',
 'historic walks',
 'historical monuments',
 'history tours',
 'horse shows',
 'horseback riding',
 'hot air ballooning',
 'hot springs',
 'kayaking',
 'landscape photography',
 'literary tours',
 'local crafts',
 'mountain biking',
 'museum visits',
 'outdoor adventures',
 'paddleboarding',
 'photography',
 'planetarium visits',
 'public art installations',
 'river cruises',
 'rock climbing',
 'safaris',
 'sailing',
 'sailing lessons',
 'scuba diving',
 'sea cruises',
 'sightseeing',
 'snorkeling',
 'spiritual retreats',
 'surfing',
 'tea tasting',
 'temple pilgrimages',
 'theater',
 'themed parks',
 'traditional ceremonies',
 'turtle watching',
 'village homestays',
 'water parks',
 'waterfalls',
 'whale watching',
 'wildlife viewing',
 'yoga retreats',
 'zip-lining']

In [40]:
print(len(activities_sorted))

68

In [26]:
destinations = ['Jaffna Public Library',
 'Sinharaja Forest Reserve',
 'Tangalle',
 ' Laxapana Falls',
 'Ahangama',
 'Pearl Bay',
 'Colombo National Museum',
 'Jaya Sri Maha Bodhi',
 'Mirissa Beach',
 'Sigiriya',
 'Seetha Eliya',
 'Kithulgala',
 'Hakgala Botanical Garden',
 'Trincomalee',
 'Pinnawala Elephant Orphanage',
 'Rekawa Beach',
 'Kumana National Park',
 'Bentota River',
 'Nelum Pokuna Theatre',
 'Yala National Park',
 'Mihintale',
 'Elephant Transit Home',
 'Minneriya National Park',
 'Kandy City Centre',
 'Lionel Wendt Art Centre',
 'Ella Rock',
 'Kandy Temple',
 'Horton Plains',
 'Dunhinda Waterfall',
 "St Clair's Falls",
 'Marakolliya Beach',
 'Yapahuwa Rock Fortress',
 'Polonnaruwa',
 'Museum of Modern and Contemporary Art',
 'Haputale',
 'Hikkaduwa',
 'Batadombalena Craft Centre',
 'Madunagala Hot Water Spring',
 'Pidurangala Rock',
 'Viharamahadevi Park',
 'Ruhunu Maha Kataragama Dewalaya',
 'Sri Lanka Planetarium',
 'Nine Arches Bridge',
 'Galle Fort',
 'Ambalangoda',
 'Madu River',
 'Martin Wickramasinghe Folk Museum',
 'Wilpattu National Park',
 'Royal Botanical Gardens, Peradeniya',
 'Kandy Lake',
 'Negombo Lagoon',
 'Vaddha Village Camping',
 "Baker's Falls",
 'Ratnapura Gem Museum',
 'Ella Gap',
 'Hatton',
 'Dry Zone Botanic Gardens, Hambantota',
 'Ambalangoda Mask Workshop',
 'Ella',
 'Ambuluwawa Tower',
 'Jungle beach',
 'Galle City Tour',
 'Anuradhapura',
 'Nallur Kandaswamy Devasthanam',
 'National Gallery of Art',
 'Kosgoda Turtle Hatchery',
 'Bundala National Park',
 'Mahapelessa Hot Springs',
 'Belilena Caves',
 'Excel World',
 'Galle Dutch Fort',
 'Udawalawe',
 'Polonaruwa',
 'Unawatuna Beach',
 'Galle',
 'Perl Bay',
 'Bambarakanda Falls',
 'Ahungalla',
 'Bolgoda Lake',
 'Bambarakiri Ella',
 'Seethawaka Wet Zone Botanical Gardens',
 'Ramboda Falls',
 'Pinnawala',
 'Colombo Port City',
 'Colombo City Tour',
 'Uppuveli Beach',
 'Kandy',
 'Udawalawe National Park',
 'Diyaluma Falls',
 'Riverstone Gap',
 'Passikuda Beach',
 'Knuckles',
 'Devon Falls',
 "Sri Pada / Adam's Peak",
 'Bentota',
 'Horton Plains National Park',
 'Unawatuna',
 'Hikkaduwa Beach',
 'Velgam Vehera Buddhist Temple',
 'Koggala Beach',
 'Dambulla',
 'Bentota Beach',
 'Wavulpone Cave',
 'Weligama Beach',
 'Victoria Golf Club',
 'Negambo',
 'Colombo',
 'Folk Museum',
 'Maritime Museum',
 'Arugam Bay Beach',
 'Nelung Arts Centre',
 'Belihuloya',
 'Water World Lanka',
 'Anuradapura',
 'Batatotalena (Batadombalena) Cave',
 'Dutch Museum',
 'Negombo',
 'Hiriketiya Beach',
 'Galle Lighthouse',
 'Dambulla Royal Cave Temple and Golden Temple',
 'Wasgamuwa National Park',
 'Kalpitiya Lagoon',
 'Nilaveli Beach',
 'Gangaramaya Temple',
 'Trincomalee Harbour',
 'Meemure',
 'Kitugala Forest',
 'Anawilundawa Wetlands',
 'Jungle Beach',
 'Kitulgala',
 'Royal Colombo Golf Club',
 'Weligama Beach (surf and stay)',
 'Unawatuna Lagoon',
 'Arankelle Forest Monastery',
 'Maha Oya Hot Water Springs',
 'Leisure World',
 'National Museum Galle',
 'Kandalama',
 'Pigeon Island',
 'Kanneliya National Rain Forest Reserve',
 'Kandy National Museum',
 'Ravan Ella Waterfall',
 'Hiriketiya',
 'Surathali Ella',
 'Kanniya Hot Springs',
 'Nallur Kandaswamy Kovil',
 'Nuwara Eliya Golf Club',
 'Sri Dalada Maligawa',
 'Ritigala',
 'Bomburu Ella Waterfall',
 'Tangalle Beach',
 'Hikkaduwa Coral Sanctuary',
 'Bopath Falls',
 'Kalpitiya',
 'Nuwara Eliya',
 'Polonnaruwa Ancient City',
 'Mahalenama Cave']

In [27]:
destinations_sorted = sorted(destinations)
destinations_sorted

[' Laxapana Falls',
 'Ahangama',
 'Ahungalla',
 'Ambalangoda',
 'Ambalangoda Mask Workshop',
 'Ambuluwawa Tower',
 'Anawilundawa Wetlands',
 'Anuradapura',
 'Anuradhapura',
 'Arankelle Forest Monastery',
 'Arugam Bay Beach',
 "Baker's Falls",
 'Bambarakanda Falls',
 'Bambarakiri Ella',
 'Batadombalena Craft Centre',
 'Batatotalena (Batadombalena) Cave',
 'Belihuloya',
 'Belilena Caves',
 'Bentota',
 'Bentota Beach',
 'Bentota River',
 'Bolgoda Lake',
 'Bomburu Ella Waterfall',
 'Bopath Falls',
 'Bundala National Park',
 'Colombo',
 'Colombo City Tour',
 'Colombo National Museum',
 'Colombo Port City',
 'Dambulla',
 'Dambulla Royal Cave Temple and Golden Temple',
 'Devon Falls',
 'Diyaluma Falls',
 'Dry Zone Botanic Gardens, Hambantota',
 'Dunhinda Waterfall',
 'Dutch Museum',
 'Elephant Transit Home',
 'Ella',
 'Ella Gap',
 'Ella Rock',
 'Excel World',
 'Folk Museum',
 'Galle',
 'Galle City Tour',
 'Galle Dutch Fort',
 'Galle Fort',
 'Galle Lighthouse',
 'Gangaramaya Temple',
 'Hakgala Botanical Garden',
 'Haputale',
 'Hatton',
 'Hikkaduwa',
 'Hikkaduwa Beach',
 'Hikkaduwa Coral Sanctuary',
 'Hiriketiya',
 'Hiriketiya Beach',
 'Horton Plains',
 'Horton Plains National Park',
 'Jaffna Public Library',
 'Jaya Sri Maha Bodhi',
 'Jungle Beach',
 'Jungle beach',
 'Kalpitiya',
 'Kalpitiya Lagoon',
 'Kandalama',
 'Kandy',
 'Kandy City Centre',
 'Kandy Lake',
 'Kandy National Museum',
 'Kandy Temple',
 'Kanneliya National Rain Forest Reserve',
 'Kanniya Hot Springs',
 'Kithulgala',
 'Kitugala Forest',
 'Kitulgala',
 'Knuckles',
 'Koggala Beach',
 'Kosgoda Turtle Hatchery',
 'Kumana National Park',
 'Leisure World',
 'Lionel Wendt Art Centre',
 'Madu River',
 'Madunagala Hot Water Spring',
 'Maha Oya Hot Water Springs',
 'Mahalenama Cave',
 'Mahapelessa Hot Springs',
 'Marakolliya Beach',
 'Maritime Museum',
 'Martin Wickramasinghe Folk Museum',
 'Meemure',
 'Mihintale',
 'Minneriya National Park',
 'Mirissa Beach',
 'Museum of Modern and Contemporary Art',
 'Nallur Kandaswamy Devasthanam',
 'Nallur Kandaswamy Kovil',
 'National Gallery of Art',
 'National Museum Galle',
 'Negambo',
 'Negombo',
 'Negombo Lagoon',
 'Nelum Pokuna Theatre',
 'Nelung Arts Centre',
 'Nilaveli Beach',
 'Nine Arches Bridge',
 'Nuwara Eliya',
 'Nuwara Eliya Golf Club',
 'Passikuda Beach',
 'Pearl Bay',
 'Perl Bay',
 'Pidurangala Rock',
 'Pigeon Island',
 'Pinnawala',
 'Pinnawala Elephant Orphanage',
 'Polonaruwa',
 'Polonnaruwa',
 'Polonnaruwa Ancient City',
 'Ramboda Falls',
 'Ratnapura Gem Museum',
 'Ravan Ella Waterfall',
 'Rekawa Beach',
 'Ritigala',
 'Riverstone Gap',
 'Royal Botanical Gardens, Peradeniya',
 'Royal Colombo Golf Club',
 'Ruhunu Maha Kataragama Dewalaya',
 'Seetha Eliya',
 'Seethawaka Wet Zone Botanical Gardens',
 'Sigiriya',
 'Sinharaja Forest Reserve',
 'Sri Dalada Maligawa',
 'Sri Lanka Planetarium',
 "Sri Pada / Adam's Peak",
 "St Clair's Falls",
 'Surathali Ella',
 'Tangalle',
 'Tangalle Beach',
 'Trincomalee',
 'Trincomalee Harbour',
 'Udawalawe',
 'Udawalawe National Park',
 'Unawatuna',
 'Unawatuna Beach',
 'Unawatuna Lagoon',
 'Uppuveli Beach',
 'Vaddha Village Camping',
 'Velgam Vehera Buddhist Temple',
 'Victoria Golf Club',
 'Viharamahadevi Park',
 'Wasgamuwa National Park',
 'Water World Lanka',
 'Wavulpone Cave',
 'Weligama Beach',
 'Weligama Beach (surf and stay)',
 'Wilpattu National Park',
 'Yala National Park',
 'Yapahuwa Rock Fortress']

In [41]:
print(len(destinations_sorted))

157